* {
  font-family: arial;
}

body {
  background-color: white;
  color: black;
  font-size: 20px;
}

h1 {
  color: red;
}

h2 {
  color: green;
}

h3 {
  color: blue;
}

h4 {
  color: orange;
}

h5 {
  color: yellow;
}

h6 {
  color: purple;
}

p {
  color: black;
}

.box {
  height: 100px;
  width: 10%;
  padding: 1em;
  margin: 2rem;
  border: 10px solid black;
  background-color: red;
}