* {
  font-family: arial;
  margin: auto;
}

/*background image*/
.banner{
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("./Images/Me.jpg");
  background-size: cover;
  background-position: center;
}

.banner2 {
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("./Images/SJSU.png");
  background-size: cover;
  background-position: center;
}
.banner3{
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("./Images/Me.jpg");
  background-size: cover;
  background-position: center;
}
.banner4{
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("./Images/Me.jpg");
  background-size: cover;
  background-position: center;
}
.banner5{
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("./Images/Me.jpg");
  background-size: cover;
  background-position: center;
}

.logo{
  width: 150px;
}

/*nav top right*/
.navbar{
  height: 12vh;
  background-color: black;
  width: 100%;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*spaces out nav bar categories*/
.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
/*makes navbar white*/
.navbar ul li a{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
/*creates invisible blue underline nav text when mouse hover*/
.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background: blue;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
/*makes blue underline visible*/
.navbar ul li:hover::after{
  width: 100%;
}
/*makes text in the middle*/
.content{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}


.content h1 {
  font-size: 70px;
  margin-top: 80px;
}
.content p{
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
}

button{
  width: 200px;
  padding: 15px 0;
  text-align: cetner;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid blue;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
span{
  background: blue;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
button:hover span{
  width: 100%;
}
button:hover{
  border: none;
}
button a {
  color: white;
  text-decoration: none;
}

.overview_and_video {
  background-image: url("./Images/twigs.jpg");
  background-repeat: no-repeat;
}

/*
.overview, .video{
  background-image: url("./Images/twigs.jpg");
  background-repeat: no-repeat;
}
*/


.box {
  margin: auto;
  background-image: linear-gradient(green, yellow);
  width: 60%;
  border: 5px solid black;
  padding: 0x;
  text-align: center;
}

.box_wide{
  margin: auto;
  background-color: white;
  width: 100%;
  border: 5px solid black;
  padding: 0x;
  text-align: center;
}

.boxside {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

college.html {
  background-image: linear-gradient(blue, red);
}

#collegeInfo {
  background-image: linear-gradient(white, red);
}

.clubs {
  background-image: linear-gradient(purple, brown);
}

.line {
  border-bottom: 10px solid black;
  width: 100%;
}

.anime {
  background-image: linear-gradient(#ffafbd, #ffc3a0);
}

.game {
  background-image: linear-gradient(#2193b0, #6dd5ed);
}

aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: lightgray;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

button, .black_font {
  color: black;
}

.exercise {
  background-color: pink;
}

/* W3Schools */
.slidecontainer {
  width: 100%; /* Width of the outside container */
}
/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}
/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}