/* this is a comment */
* {
  font-family: arial;
}

body {
  background-color: aqua;
  color: black;
  font-size: 20px;
  /* background-image:url(); */
}

h1 {
  background-color:#FFFFFF;
  color: red;
  font-size: large;
}

h2 {
  background-color:#FFFFFF;
  color: orange;
}

h3 {
  background-color:#FFFFFF;
  color: yellow;
}

h4 {
  background-color:#FFFFFF;
  color: green;
}

h5 {
  background-color:#FFFFFF;
  color: blue;
}

h6 {
  background-color:#FFFFFF;
  color: purple;
}

p {
  font-weight:bold;
}

a {
  text-decoration:no-underline;
}

/* 
border-width:10px 1px 5px 20px;  
list-style-type: square;  
*/
div p {
  font-size: 10px;
}

.box {
  height: 100px;
  width: 10%;
  padding: 1em;
  margin: 2rem;
  border: 10px solid black;
  background-color: red;
}
